@import "../../../app/mixin.scss";

.PositionsWidgetWrapper {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    @include md {
        max-width: 1200px;
        width: 93%;
        gap: 12px;
    }

    @include lg {
        width: 93%;
        gap: 12px;
    }

    @include xl {
        width: 85%;
        gap: 15px;
    }

    @include xxl {
        gap: 20px;
        width: 70%;
    }

    .PoolsHeader {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: fit-content;

        .BackBtn {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 8px;
            width: 35px;
            height: 35px;
            background: #121212;
            border: 1px solid #1E1E1E;
            border-radius: 6px;
            cursor: pointer;
            transition: all 0.2s ease-in-out;

            @include md {
                width: 30px;
                height: 30px;
            }

            @include lg {
                width: 30px;
                height: 30px;
            }

            @include xl {
                width: 35px;
                height: 35px;
            }

            @include xxl {
                width: 40px;
                height: 40px;
            }

            &:hover {
                transform: scale(0.9);
                opacity: 0.8;
            }
        }

        .HeadingText {
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 500;
            font-size: 22px;
            text-align: center;
            background: linear-gradient(95.86deg, #999999 -20.23%, #FFFFFF 74.96%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;

            @include md {}

            @include lg {
                font-size: 20px;
            }

            @include xl {
                font-size: 22px;
            }

            @include xxl {
                font-size: 24px;
            }
        }


    }

    .PoolsHeadingContainer {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .SearchWrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;

            .SearchContainer {
                box-sizing: border-box;
                display: none;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                padding: 10px 14px;
                border: 1px solid #1E1E1E;
                border-radius: 8px;
                width: 100%;
                gap: 10px;

                @include md {
                    width: 300px;
                    display: flex;
                    padding: 10px 14px;
                }

                @include lg {
                    padding: 10px 14px;
                }

                @include xl {
                    padding: 10px 14px;
                }

                @include xxl {
                    padding: 12px 16px;
                }

                .SearchIcon {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 18px;
                    height: 18px;

                    @include md {}

                    @include lg {
                        width: 14px;
                        height: 14px;
                    }

                    @include xl {
                        width: 16px;
                        height: 16px;
                    }

                    @include xxl {
                        width: 18px;
                        height: 18px;
                    }
                }

                .SearchInput {
                    font-family: 'Manrope';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    color: var(--text-medium-grey);
                    background: transparent;
                    outline: none;
                    border: none;

                    @include md {}

                    @include lg {
                        font-size: 12px;
                    }

                    @include xl {
                        font-size: 13px;
                    }

                    @include xxl {
                        font-size: 14px;
                    }

                    &:focus {
                        outline: none;
                    }
                }
            }
        }



    }
}