@import "../../../../../../app/mixin.scss";

.DepositTokenInputWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 5px;
    width: 100%;

    .TokenInputContainer {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 8px;
        width: 100%;
        border: 1px solid #1E1E1E;
        border-radius: 8px;

        .InputContainer {
            display: flex;
            flex-direction: column;

            .Token-Input {
                font-family: 'Manrope';
                font-style: normal;
                font-weight: 500;
                font-size: 22px;
                color: var(--text-white);
                outline: none;
                border: none;
                width: 100px;
                background-color: var(--paper-black-dark);
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;

                @include md {
                    width: 120px;
                    font-size: 20px;
                }

                @include lg {
                    font-size: 20px;
                }

                @include xl {
                    font-size: 22px;
                }

                @include xxl {
                    font-size: 24px;
                }

                &::placeholder {
                    color: var(--text-medium-grey);
                }

                &:focus {
                    outline: none;
                }
            }

            .DollarValue {
                font-family: 'Manrope';
                font-style: normal;
                font-weight: 500;
                font-size: 11px;
                color: #909090;

                @include md {
                    font-size: 10px;
                }

                @include lg {
                    font-size: 10px;
                }

                @include xl {
                    font-size: 11px;
                }

                @include xxl {
                    font-size: 12px;
                }
            }
        }

        .TokenInfoContainer {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 8px;
            gap: 10px;
            background: #101010;
            border: 1px solid #1E1E1E;
            border-radius: 6px;

            .TokenLogo {
                width: 22px;
                height: 22px;
                position: relative;

                @include md {
                    width: 20px;
                    height: 20px;
                }

                @include lg {
                    width: 20px;
                    height: 20px;
                }

                @include xl {
                    width: 22px;
                    height: 22px;
                }

                @include xxl {
                    width: 24px;
                    height: 24px;
                }

                .ChainLogo {
                    width: 12px;
                    height: 12px;
                    position: absolute;
                    bottom: 3px;
                    right: -3px;
                }
            }

            .TokenName {
                font-family: 'Manrope';
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                color: #FFFFFF;

                @include md {
                    font-size: 12px;
                }

                @include lg {
                    font-size: 12px;
                }

                @include xl {
                    font-size: 14px;
                }

                @include xxl {
                    font-size: 16px;
                }

            }
        }
    }

    .BalanceContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;

        .BalanceValue {
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 500;
            font-size: 11px;
            text-align: right;
            color: #909090;

            @include md {
                font-size: 10px;
            }

            @include lg {
                font-size: 10px;
            }

            @include xl {
                font-size: 11px;
            }

            @include xxl {
                font-size: 12px;
            }
        }

        .MaxBtn {
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 2px 8px;
            border: 1px solid #1E1E1E;
            border-radius: 6px;
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            text-align: right;
            color: #FFFFFF;
            cursor: pointer;
            transition: all 0.3s ease-in-out;

            @include md {}

            @include lg {
                font-size: 10px;
            }

            @include xl {
                font-size: 11px;
            }

            @include xxl {
                font-size: 12px;
            }

            &:hover {
                opacity: 0.8;
            }
        }

    }
}