@import "../../../../app/mixin.scss";

.UniV3WithdrawWidgetWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    width: 100%;

    @include md {
        width: auto;
        gap: 10px;
    }

    @include lg {
        gap: 10px;
    }

    @include xl {
        gap: 15px;
    }

    @include xxl {
        gap: 20px;
    }

    .HeadingContainer {
        display: none;
        justify-content: center;
        align-items: center;
        gap: 8px;

        @include md {
            display: flex;
            gap: 6px;
        }

        @include lg {
            gap: 6px;
        }

        @include xl {
            gap: 8px;
        }

        @include xxl {
            gap: 10px;
        }

        .BackBtn {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 8px;
            width: 35px;
            height: 35px;
            background: #121212;
            border: 1px solid #1E1E1E;
            border-radius: 6px;
            cursor: pointer;
            transition: all 0.2s ease-in-out;
            transform: scale(1);

            @include md {
                width: 30px;
                height: 30px;
            }

            @include lg {
                width: 30px;
                height: 30px;
            }

            @include xl {
                width: 35px;
                height: 35px;
            }

            @include xxl {
                width: 40px;
                height: 40px;
            }

            &:hover {
                transform: scale(0.9);
                opacity: 0.8;
            }
        }

        .Heading {
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            color: #FFFFFF;

            @include md {
                font-size: 14px;
            }

            @include lg {
                font-size: 14px;
            }

            @include xl {
                font-size: 16px;
            }

            @include xxl {
                font-size: 18px;
            }
        }
    }

    .PoolActionsWrapper {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 20px;
        width: 100%;

        @include md {
            font-size: 14px;
            width: unset;
        }

        .PoolInfoContainer {
            width: 344px;
            display: none;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;


            @include md {
                width: 300px;
                display: flex;
            }

            @include lg {
                width: 300px;
            }

            @include xl {
                width: 320px;
            }

            @include xxl {
                width: 344px;
            }
        }

        .PoolActionContainer {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 18px;
            gap: 22px;
            width: 100%;
            background: radial-gradient(63.94% 63.94% at 0 100%, hsla(0, 0%, 100%, .03) 0, hsla(0, 0%, 100%, 0) 100%), #111;
            border: 2px solid #1E1E1E;
            border-radius: 12px;


            @include md {
                width: 345px;
            }

            @include lg {
                width: 345px;
            }

            @include xl {
                width: 365px;
            }

            @include xxl {
                width: 385px;
            }

            .HeadingContainer {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .Heading {
                    font-family: 'Manrope';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;

                    @include md {}

                    @include lg {
                        font-size: 16px;
                    }

                    @include xl {
                        font-size: 18px;
                    }

                    @include xxl {
                        font-size: 20px;
                    }
                }

                .BackBtn {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    padding: 8px;
                    width: 35px;
                    height: 35px;
                    background: #121212;
                    border: 1px solid #1E1E1E;
                    border-radius: 6px;
                    cursor: pointer;
                    transition: all 0.2s ease-in-out;
                    transform: scale(1);

                    @include md {
                        width: 30px;
                        height: 30px;
                    }

                    @include lg {
                        width: 30px;
                        height: 30px;
                    }

                    @include xl {
                        width: 35px;
                        height: 35px;
                    }

                    @include xxl {
                        width: 40px;
                        height: 40px;
                    }

                    &:hover {
                        transform: scale(0.9);
                        opacity: 0.8;
                    }
                }
            }

            .TokenInputWrapper {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-end;
                gap: 5px;
                width: 100%;

                .TokenInputContainer {
                    box-sizing: border-box;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    padding: 8px;
                    width: 100%;
                    background: #101010;
                    border: 1px solid #1e1e1e;
                    border-radius: 8px;

                    .InputContainer {
                        display: flex;
                        flex-direction: column;

                        .Token-Input {
                            font-family: "Manrope";
                            font-style: normal;
                            font-weight: 500;
                            font-size: 22px;
                            color: var(--text-white);
                            outline: none;
                            border: none;
                            width: 100px;
                            background-color: var(--paper-black-dark);

                            @include md {
                                width: 120px;
                                font-size: 20px;
                            }

                            @include lg {
                                font-size: 20px;
                            }

                            @include xl {
                                font-size: 22px;
                            }

                            @include xxl {
                                font-size: 32px;
                            }

                            &::placeholder {
                                color: var(--text-white);
                            }

                            &:focus {
                                outline: none;
                            }
                        }

                        .DollarValue {
                            font-family: "Manrope";
                            font-style: normal;
                            font-weight: 500;
                            font-size: 11px;
                            color: #909090;

                            @include md {
                                font-size: 10px;
                            }

                            @include lg {
                                font-size: 10px;
                            }

                            @include xl {
                                font-size: 11px;
                            }

                            @include xxl {
                                font-size: 12px;
                            }
                        }
                    }
                }

                .BalanceContainer {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 5px;

                    .BalanceValue {
                        font-family: "Manrope";
                        font-style: normal;
                        font-weight: 500;
                        font-size: 11px;
                        text-align: right;
                        color: #909090;

                        @include md {
                            font-size: 10px;
                        }

                        @include lg {
                            font-size: 10px;
                        }

                        @include xl {
                            font-size: 11px;
                        }

                        @include xxl {
                            font-size: 12px;
                        }
                    }

                    .MaxBtn {
                        box-sizing: border-box;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        padding: 2px 8px;
                        border: 1px solid #1e1e1e;
                        border-radius: 6px;
                        font-family: "Manrope";
                        font-style: normal;
                        font-weight: 500;
                        font-size: 11px;
                        text-align: right;
                        color: #ffffff;
                        cursor: pointer;
                        transition: all 0.3s ease-in-out;

                        @include md {
                            font-size: 10px;
                        }

                        @include lg {
                            font-size: 10px;
                        }

                        @include xl {
                            font-size: 11px;
                        }

                        @include xxl {
                            font-size: 12px;
                        }

                        &:hover {
                            opacity: 0.8;
                        }
                    }
                }
            }

            .TokenInputAction {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 8px;

                .InputAction {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    padding: 6px 6px;
                    width: 25%;
                    border: 1px solid #1f1f1f;
                    border-radius: 36px;
                    cursor: pointer;
                    transition: all 0.3s ease-in-out;
                    font-size: 14px;
                    color: var(--text-medium-grey);

                    @include md {
                        padding: 5px 5px;
                        font-size: 12px;
                    }

                    @include lg {
                        padding: 5px 5px;
                        font-size: 12px;
                    }

                    @include xl {
                        padding: 6px 6px;
                        font-size: 14px;
                    }

                    @include xxl {
                        padding: 8px 10px;
                        font-size: 16px;
                    }

                    &:hover {
                        opacity: 0.8;
                    }
                }
            }


        }
    }
}