@import "../../../app/mixin.scss";

.UniV2WidgetWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    width: 90%;

    @include md {
        width: auto;
        gap: 10px;
    }

    @include lg {
        gap: 10px;
    }

    @include xl {
        gap: 15px;
    }

    @include xxl {
        gap: 20px;
    }

    .HeadingContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;

        @include md {
            gap: 6px;
        }

        @include lg {
            gap: 6px;
        }

        @include xl {
            gap: 8px;
        }

        @include xxl {
            gap: 10px;
        }

        .BackBtn {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 8px;
            width: 35px;
            height: 35px;
            background: #121212;
            border: 1px solid #1E1E1E;
            border-radius: 6px;
            cursor: pointer;
            transition: all 0.2s ease-in-out;
            transform: scale(1);

            @include md {
                width: 30px;
                height: 30px;
            }

            @include lg {
                width: 30px;
                height: 30px;
            }

            @include xl {
                width: 35px;
                height: 35px;
            }

            @include xxl {
                width: 40px;
                height: 40px;
            }

            &:hover {
                transform: scale(0.9);
                opacity: 0.8;
            }
        }

        .Heading {
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            color: #FFFFFF;

            @include md {
                font-size: 14px;
            }

            @include lg {
                font-size: 14px;
            }

            @include xl {
                font-size: 16px;
            }

            @include xxl {
                font-size: 18px;
            }
        }
    }

    .PoolActionsWrapper {
        display: flex;
        justify-content: flex-start;
        flex-direction: column-reverse;
        align-items: center;
        gap: 10px;
        width: 100%;

        @include md {
            gap: 10px;
            width: auto;
            flex-direction: row;
            align-items: flex-start;
            justify-content: center;
        }

        @include lg {
            gap: 10px;
        }

        @include xl {
            gap: 15px;
        }

        @include xxl {
            gap: 20px;
        }

        .PoolActionsContainer {
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 100%;

            @include md {
                width: auto;
            }

            @include lg {
                gap: 10px;
            }

            @include xl {
                gap: 15px;
            }

            @include xxl {
                gap: 20px;
            }

            .PoolInputsWrapper {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                padding: 18px;
                gap: 18px;
                width: 100%;
                background: radial-gradient(63.94% 63.94% at 0 0, hsla(0, 0%, 100%, .03) 0, hsla(0, 0%, 100%, 0) 100%), #111;
                border: 2px solid #1E1E1E;
                backdrop-filter: blur(4px);
                border-radius: 12px;

                @include md {
                    padding: 16px;
                    gap: 16px;
                    width: 300px;
                }

                @include lg {
                    padding: 16px;
                    gap: 16px;
                    width: 330px;
                }

                @include xl {
                    padding: 18px;
                    gap: 18px;
                    width: 350px;
                }

                @include xxl {
                    padding: 24px;
                    gap: 24px;
                    width: 405px;
                }

                .PoolTabContainer {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    padding: 8px;
                    gap: 8px;
                    width: 100%;
                    background: #101010;
                    border: 1px solid #1E1E1E;
                    backdrop-filter: blur(2px);
                    border-radius: 8px;

                    .PoolsTabActive {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        padding: 8px 10px;
                        width: 50%;
                        background: linear-gradient(104.9deg, rgba(88, 88, 88, 0.5) -76.37%, #121212 97.95%), linear-gradient(93.04deg, #7BF179 -54.58%, rgba(71, 139, 70, 0) 99.98%);
                        border: 1px solid #1E1E1E;
                        backdrop-filter: blur(20px);
                        border-radius: 4px;
                        font-family: 'Manrope';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 12px;
                        text-align: center;
                        color: #FFFFFF;
                        cursor: pointer;
                        transition: all 0.3s ease-in-out;

                        @include md {
                            padding: 8px 10px;
                            font-size: 12px;
                        }

                        @include lg {
                            padding: 8px 10px;
                            font-size: 12px;
                        }

                        @include xl {
                            padding: 8px 10px;
                            font-size: 14px;
                        }

                        @include xxl {
                            padding: 8px 12px;
                            font-size: 16px;
                        }

                        &::before {
                            content: '';
                            position: absolute;
                            left: 50%;
                            bottom: 0;
                            transform: translateX(-50%);
                            width: 0px;
                            height: 1px;
                            background-color: var(--app-green);
                            transition: all 0.3s ease;
                            opacity: 0.7;
                        }

                        &.show-line::before {
                            width: 60%;
                        }

                        &:hover {
                            opacity: 0.8;
                        }
                    }

                    .PoolsTab {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        padding: 8px 10px;
                        width: 50%;
                        background: #121212;
                        border: 1px solid #1E1E1E;
                        border-radius: 4px;
                        font-family: 'Manrope';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 12px;
                        text-align: center;
                        color: #FFFFFF;
                        cursor: pointer;
                        transition: all 0.3s ease-in-out;

                        @include md {
                            padding: 8px 10px;
                            font-size: 12px;
                        }

                        @include lg {
                            padding: 8px 10px;
                            font-size: 12px;
                        }

                        @include xl {
                            padding: 8px 10px;
                            font-size: 14px;
                        }

                        @include xxl {
                            padding: 8px 12px;
                            font-size: 16px;
                        }

                        &:hover {
                            opacity: 0.8;
                        }
                    }
                }
            }

        }

    }
}