.ComingSoonWidgetWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;

    .HeadingContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;

        .ComingSoonLogo {
            width: 300px;
            height: 300px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .Heading {
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 700;
            font-size: 56px;
            text-align: center;
            color: #7BF179;
        }
    }



    .SubHeading {
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        text-align: center;
        color: #BABABA;
    }

    .BackBtn {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 12px 20px;
        background: #7BF179;
        border-radius: 8px;
        font-family: 'ManropeBold';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        text-align: center;
        color: #323227;
        cursor: pointer;


        &:hover {
            background: var(--app-light-green);
        }

        &:active {
            background: var(--text-white);
        }
    }
}