.UniV2PoolLabel {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2px 8px;
    background: linear-gradient(104.9deg, rgba(88, 88, 88, 0.5) -76.37%, #121212 97.95%), linear-gradient(88.2deg, #FC72FF -53.68%, rgba(252, 114, 255, 0) 133.62%), #FFFFFF;
    border: 1px solid #FC72FF;
    border-radius: 8px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: #FFFFFF;
}