@import "../../../../../app/mixin.scss";

.BinanceCampaignContainer {
    height: 100%;
    padding: 12px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #000000;
    gap: 10px;
    width: 100%;
    background: url("/assets/images/solana_campaign_bg.svg");
    background-position: right;
    background-repeat: no-repeat;
    @include md{
        padding: 16px 20px;
        gap: 25px;
        position: relative;
    }
    @include xl{
        gap:25px;
    }
    @include xxl{
        gap: 20px;
    }
    .centerImage{
        position: absolute;
        transition: all 0.3s ease-in-out;
        top: 25px;
        right: 50px;
        border-radius: 100%;
        padding: 10px;
        background-color: #000000;
       // border: 0.1px solid #878787;
       @include md{
        top: 45px;
        right: 40px;
        border-radius: 100%;
        padding: 10px;
       }
       &:hover{
        transform: scale(1.05);
        transform: rotate(10deg);
    }
        .image{
        height: 28px;
        width: 28px;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: rotate(10deg);
        @include md{
            height: 40px;
            width: 40px;
        }       
        }
    }
    .leftTopImage{
        position: absolute;
        top: 10px;
        right: 105px;
        border-radius: 100%;
        transition: all 0.3s ease-in-out;
        padding: 5px;
        background-color: #000000;
        transform: rotate(-42deg);
        @include md{
            top: 15px;
            right: 85px;
        }
        //border: 0.1px solid #878787;
        &:hover{
            transform: scale(1.05);
        }
        .image{
            height: 16px;
        width: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        @include md{
            height: 18px;
            width: 18px;
        }
        @include xl{
            height: 20px;
            width: 20px;
        }
        }
    }
    .rightTopImage{
        position: absolute;
       top: 10px;
        right: 15px;
        border-radius: 100%;
        padding: 5px;
        background-color: #000000;
        transition: all 0.3s ease-in-out;
        &:hover{
            transform: scale(1.05);
        }
        transform: rotate(42deg);
        //border: 0.1px solid #878787;
        .image{
            height: 16px;
            width: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        @include md{
            height: 18px;
            width: 18px;
        }
        @include xl{
            height: 20px;
            width: 20px;
        }
        }
    }
    .leftBottomImage{
        position: absolute; 
        bottom: 5px;
        right: 110px;
        border-radius: 100%;
        padding: 5px;
        background-color: #000000;
        transform: rotate(-82deg);
        transition: all 0.3s ease-in-out;
        &:hover{
            transform: scale(1.05);
        }
        @include md{
            right: 90px;
        }
        .image{
            height: 16px;
            width: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        @include md{
            height: 18px;
            width: 18px;
        }
        @include xl{
            height: 20px;
            width: 20px;
        }
        }
    }
    .rightBottomImage{
        position: absolute;
        bottom: 5px;
        right: 25px;
         border-radius: 100%;
         padding: 5px;
         background-color: #000000;
         transition: all 0.3s ease-in-out;
         &:hover{
            transform: scale(1.05);
        }
         transform: rotate(12deg);
         //border: 0.1px solid #878787;
         .image{
            height: 16px;
            width: 16px;
         display: flex;
         justify-content: center;
         align-items: center;
         @include md{
            height: 18px;
            width: 18px;
        }
        @include xl{
            height: 20px;
            width: 20px;
        }
         }
    }
    .HeadingContainer {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        @include md{
            font-size: 10px;
        }
        .Logo {
            width: 50px;
            height: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            @include md{
                width: 80px;
                height: 15px;
            }
            @include lg{
                width: 100px;
                height: 15px;
            }
        }
    }

    .DetailsContainer {
        display: flex;
        flex-direction: column;
        gap: 5px;
        @include xxl{
            gap: 0px;
        }    
        .Heading {
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            @include md{
                font-size: 18px;
            }
            @include lg{
                font-size:18px;
            }
            @include xl{
                font-size: 22px;
            }
            @include xxl{
                font-size: 26px;
            }
            color: #FFFFFF;
        }

        .SubHeading {
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 400;
            font-size: 10px;
            color: #D5D5D5;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items:center;
            gap: 5px;
            @include md{
                font-size: 12px;
            }
            @include lg{
                font-size: 12px;
            }
            @include xxl{
                font-size: 12px;
            }
            .Green {
                font-weight: 800;
                color: #7BF179;
                font-size: 12px;
                @include md{
                    font-size: 20px;
                }
                @include lg{
                    font-size: 16px;
                }
                @include xl{
                    font-size: 10px;
                }
                @include xxl{
                    font-size: 16px;
                }
            }
        }
    }

    .ActionBtn {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 8px 24px;
        gap: 4.86px;
        background: #7BF179;
        border-radius: 4.86275px;
        font-family: 'ManropeBold';
        font-style: normal;
        font-weight: 700;
        font-size: 10px;
        text-align: center;
        color: #323227;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        @include md{
            font-size: 12px;
            padding: 6px 24px;
            font-family: 'Manropebold';
        }
        &:hover {
            background: var(--app-light-green);
            transform: scale(1.2);
        }

        &:active {
            background: var(--text-white);
        }
    }
}