@import "../../../app/mixin.scss";

.HeaderLink {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    gap: 8px;
    background: var(--paper-black-dense-dark);
    font-family: 'ManropeMedium';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: var(--app-green);
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    position: relative;


    @include md {
        font-size: 12px;
    }

    @include lg {
        font-size: 12px;
    }

    @include xl {
        font-size: 14px;
    }

    @include xxl {
        font-size: 16px;
    }

    &::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        background-color: var(--app-green);
        transition: all 0.3s ease;
        opacity: 0.7;
    }

    &.show-line::before {
        height: 60%;
    }

    .HeaderIcon,.DustHeaderIcon {
        width: 24px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid var(--app-green);
        border-radius: 4px;
        color: var(--app-green);
        transition: all 0.2s ease-in-out;

        @include md {}

        @include lg {
            width: 20px;
            height: 20px;
        }

        @include xl {
            width: 22px;
            height: 22px;
        }

        @include xxl {
            width: 24px;
            height: 24px;
        }
    }
    .DustHeaderIcon{
        color: #000;
        padding: 2px;
        @include lg {
            width: 18px;
            height: 18px;
        }
    }
}

.HeaderLink-InActive {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    gap: 8px;
    font-family: 'ManropeMedium';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: var(--text-dense-grey-dark);
    position: relative;
    transition: all 0.2s ease-in-out;

    @include md {}

    @include lg {
        font-size: 12px;
    }

    @include xl {
        font-size: 14px;
    }

    @include xxl {
        font-size: 16px;
    }

    .HeaderIcon {
        width: 24px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid var(--border-color);
        padding: 4px;
        border-radius: 4px;
        color: var(--text-dense-grey-dark);

        @include md {}

        @include lg {
            width: 20px;
            height: 20px;
        }

        @include xl {
            width: 22px;
            height: 22px;
        }

        @include xxl {
            width: 24px;
            height: 24px;
        }
    }

    &::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        opacity: 0;
        height: 1px;
        background-color: var(--app-green);
        transition: all 0.3s ease;
    }

    &.show-line::before {
        opacity: 0.7;
    }

    cursor: pointer;
    transition: all 0.1s ease-in-out;

    &:hover {
        background: var(--paper-black-dense-dark);
        color: var(--app-green);

        .HeaderIcon {
            border: 1px solid var(--app-green);
            color: var(--app-green);
        }
    }
}